.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.filtersCard {
  /* padding: 20px 0; */
  padding-top: 20px;
  width: 100%;
}

.filterHeader {
  margin-left: 20px;
}

.card {
  padding: 10px;
}
