{
  "root": true,
  "extends": ["@elixir-cloud"],
  "settings": {},
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "import/no-extraneous-dependencies": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.mjs", "*.js"]
    }
  ]
}
